<search-form (changed)="search($event)"></search-form>

<button type="button" (click)="clearFilter()">Clear</button>

<h1>Your cards <span *ngIf="searchTerm">{{searchTerm}}</span>:</h1>

<div *ngIf="(cards | async)?.length > 0">
    <ul>
        <li *ngFor="let card of cards | async"
            [routerLink]="['/cards', card.id]">
            {{card.name}}
            <span *ngIf="card.friendlyName">({{card.friendlyName}}) </span>
            -
            <span [ngClass]="{'positive': card.amount > 0, 'negative': card.amount < 0}">
                {{card.amount | currency:'EUR':false}}
            </span>
        </li>
    </ul>

    <div>
        <h4>You have {{(cards | async)?.length }} cards</h4>
    </div>
</div>
