<search-form (changed)="search($event)"></search-form>

<button type="button" (click)="clearFilter()">Clear</button>

<h1>Your accounts <span *ngIf="searchTerm">{{searchTerm}}</span>:</h1>

<input type="button" value="Show/Hide List" (click)="toggleList()" />

<div *ngIf="errorMessage" style="color: red;">{{errorMessage}}</div>
<ul [ngStyle]="{display: listVisibility ? 'block': 'none'}">
    <li *ngFor="let account of accounts | async | accountFilter:searchTerm">
        <account-list-item
            [account]="account"
            (accountSelect)="selectAccount($event)"
        ></account-list-item>
    </li>
</ul>

<div *ngIf="accounts.length">
  <h4>You have {{accounts.length}} accounts</h4>
</div>

<account-details [account]="selectedAccount">
</account-details>
