<h1 *ngIf="name">Hello {{name}},</h1>

<search-form (changed)="search($event)"></search-form>

<button type="button" (click)="clearFilter()">Clear</button>

<h1>Your accounts <span *ngIf="searchTerm">{{searchTerm}}</span>:</h1>

<input type="button" value="Show/Hide List" (click)="toggleList()" />

<ul [ngStyle]="{display: listVisibility ? 'block': 'none'}">
    <li *ngFor="let account of accounts | async"
        [routerLink]="['/accounts', account.id]">
        {{account.name}}
        <span *ngIf="account.friendlyName">({{account.friendlyName}}) </span>
        -
        {{account.amount | currency:'EUR':false}}
    </li>
</ul>

<div *ngIf="(accounts | async)?.length > 0">
  <h4>You have {{(accounts | async)?.length }} accounts</h4>
</div>
